/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.aviary-app-container{
	width: 100%;
	
}

.padding50{
	padding: 50px 50px 0px 50px;
}

@media screen and (min-width: 992px) {
	.aviary-app-container{
	width: calc(100% - 300px);
	margin-left: 300px;
	margin-top: 3.75px;
	}
}

.inmersive-mode-btn{
	position: fixed;
	bottom: 16px;
	right: 16px;
}


/* Control CSS editor */
.avpw_is_embed #avpw_controls{
	max-width: 100%;
	z-index: 999;
	margin: -1px;
}

/* own code */
.caption{
	font-size: 1.25rem;
	font-weight: 300;
	margin-bottom: 30px;
	text-align: justify;
}

/* Edita */
.thumb{
	background-attachment: scroll;
background-color: rgba(0,0,0,0.2);
background-size: auto 200px;
background-position: center center;
background-repeat: no-repeat;
 border-bottom: 1px solid rgba(0,0,0,0.01);
	
}


/* Colores */

.header{
	font-weight: 300;
	color: #0bc1f7; !important
}

.edit_t{
	color: #F82463;
}
.compress_t{
	color: #C4B81C;
}
.upload_t{
	color: #0BC1F7;
}
.edit{
	background-color: #F82463;
}
.compress{
	background-color: #C4B81C;
}
.upload{
	background-color: #0BC1F7 !important; 
}